<div class="login-card">
  <h1>Log-in</h1><br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.email_field :email, autofocus: true, :placeholder => 'Email' %>
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>
    <%= f.submit "Log in", :class => "login login-submit" %>

  <% end %>
</div>

<% if flash[:alert] %>
  <div id='hideMe' class="error message">
    <h4>Ups, an error ocurred</h4>
    <p class="alert"><%= flash[:alert] %></p>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id='hideMe' class="warning message">
    <h4>Message</h4>
    <p class="alert"><%= flash[:notice] %></p>
  </div>
<% end %>