<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %>- it looks like you did not clock out of your last active task for job <%= @job.sfid %>:<%= @job.client.name %>@<%= @job.show %> at the end of the day.  This task was started at <%= l @task.startTime.in_time_zone('Eastern Time (US & Canada)'), format: :long %> central and ended automatically at <%= l @task.endTime.in_time_zone('Eastern Time (US & Canada)'), format: :long %>.  If these times are not correct, please update the task times by opening the Time Machine on any device, switching to the "History" tab, clicking Edit for the task and adjusting the start and/or end times as needed and saving.</p>
    <p>Please see a supervisor or manager if you have questions or issues.</p>
  </body>
</html>
