<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title><%= h("TM") %></title>
  <%= csrf_meta_tag %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= javascript_include_tag "moment" %>
  <%= analytics_init if Rails.env.production? %>
  <% if controller.controller_name == "sessions" %>
      <%= stylesheet_link_tag "login" %>
  <% else %>
    <%= load_netzke %>
  <% end %>

</head>
<body>
  <%= yield %>
</body>
</html>
